<div class="server-details">
    <div style="color:blue">-----------------------------------</div>
    <div>&nbsp;&nbsp;Web server is running on <span style="color:magenta">*:<%= port %></span></div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;Node Version: <span style="color:darkkhaki"><%= nodeVersion %></span></div>
    <div style="color:blue">-----------------------------------</div>
</div>